menu "16-segment LED Configuration"

config 16SEG_LED_SPI_CLK_FREQ
    int "SPI Clock Frequency (Hz)"
    default 1000000
    help
        Frequency for SPI clock (in Hz)

config 16SEG_LED_DATA_IO
    int "Data GPIO"
    default 0
    help
        GPIO pin for shift register data

config 16SEG_LED_CLOCK_IO
    int "Clock GPIO"
    default 0
    help
        GPIO pin for shift register clock

config 16SEG_LED_LATCH_IO
    int "Latch GPIO"
    default 0
    help
        GPIO pin for shift register latch

config 16SEG_LED_LATCH_INV
    bool "Latch GPIO active-low"
    default false
    help
        Latch GPIO active-low or active-high

config 16SEG_LED_LATCH_PULSE_LENGTH
    int "Latch pulse length [µs]"
    default 1
    help
        Pulse length of the latch pulse, in microseconds

config 16SEG_LED_USE_ENABLE
    bool "Use enable"
    default false
    help
        Enable pin is present

config 16SEG_LED_EN_IO
    depends on 16SEG_LED_USE_ENABLE
    int "Enable GPIO"
    default 0
    help
        GPIO pin for shift register output enable

config 16SEG_LED_EN_INV
    depends on 16SEG_LED_USE_ENABLE
    bool "Enable GPIO active-low"
    default false
    help
        Output enable GPIO active-low or active-high

config 16SEG_LED_USE_DP_DATA
    bool "Send extra decimal point data"
    default false
    help
        Send extra decimal point data mixed in with the character data

config 16SEG_LED_DP_DATA_INTERVAL
    depends on 16SEG_LED_USE_DP_DATA
    int "Decimal point data interval"
    default 8
    help
        Send a packet of decimal point data every n characters

endmenu