<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>OTA Update</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/simple.css">
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/util.js"></script>
  </head>

  <body>
    <h1>xatLabs Cheetah</h1>
    <h2 id="hostname">&nbsp;</h2>
    <table><tbody>
      <tr>
        <td colspan="2">Revision</td>
        <td id="fw-version"></td>
      </tr>
      <tr>
        <td colspan="2">Compiled</td>
        <td id="compile-datetime"></td>
      </tr>
      <tr>
        <td colspan="2">Log Level</td>
        <td id="log-level"></td>
      </tr>
      <tr>
        <td rowspan="3">IP</td>
        <td>STA</td>
        <td id="ip-sta"></td>
      </tr>
      <tr>
        <td>AP</td>
        <td id="ip-ap"></td>
      </tr>
      <tr>
        <td>ETH</td>
        <td id="ip-eth"></td>
      </tr>
      <tr>
        <td rowspan="4">MAC</td>
        <td>STA</td>
        <td id="mac-sta"></td>
      </tr>
      <tr>
        <td>AP</td>
        <td id="mac-ap"></td>
      </tr>
      <tr>
        <td>BT</td>
        <td id="mac-bt"></td>
      </tr>
      <tr>
        <td>ETH</td>
        <td id="mac-eth"></td>
      </tr>
    </tbody></table>

    <h4>Firmware Update</h4>
    <input type="file" id="file-firmware" accept=".bin" />
    <div id="div-file-info">&nbsp;</div>
    <input type="submit" id="btn-submit" value="Update Firmware">
    <span id="upload-progress">&nbsp;</span>
    <span id="wait-update" style="display: none;"><img src="/ota/spinner.gif"> Update finished, restart pending. Reloading in a few seconds...</span><br>
    <input type="submit" id="btn-restart" value="Restart">
    <span id="restart-status">&nbsp;</span>
    <span id="wait-restart" style="display: none;"><img src="/ota/spinner.gif"> Restart pending. Reloading in a few seconds...</span><br>
    <input type="submit" id="btn-verify" value="Mark OTA partition as valid">
    <span id="verify-status">&nbsp;</span>

    <script type="text/javascript">
      function setPayloadLength() {
        var fileSelect = $("#file-firmware")[0];
        if (fileSelect.files && fileSelect.files.length == 1) {
          var fileSize = fileSelect.files[0].size;
          $.ajax({
            type: "POST",
            url: "/ota/length",
            data: fileSize.toString(),
            success: onSetPayloadLengthSuccess,
            error: onSetPayloadLengthError
          });
        } else {
          window.alert("Please select a file!");
        }
      }

      function onFileSelected() {
        var fileSelect = $("#file-firmware")[0];
        if (fileSelect.files && fileSelect.files.length == 1) {
          var fileSize = fileSelect.files[0].size;
          $("#div-file-info").html("File size: " + fileSize + " bytes");
        }
      }

      function onUploadProgress(evt) {
        if (evt.lengthComputable) {
          var percentComplete = (evt.loaded / evt.total) * 100;
          var x = Math.floor(percentComplete);
          $("#upload-progress").html("Upload progress: " + x + "%");
        } else {
          console.log("Cannot compute progress!");
        }
      }

      function onUploadSuccess(evt) {
        console.log("Upload succeeded!");
        $("#wait-update").show();
        getStatus();
      }

      function startUpdate() {
        setPayloadLength();
      }

      function uploadFirmware() {
        var formData = new FormData();
        var file = $("#file-firmware")[0].files[0];
        formData.set("file", file, file.name);
        var xhr = new XMLHttpRequest();

        xhr.upload.addEventListener("progress", onUploadProgress, false);
        xhr.upload.addEventListener("load", onUploadSuccess, false);

        xhr.open("POST", "/ota");
        xhr.responseType = "blob";
        xhr.send(formData);
      }

      function getStatus() {
        $.ajax({
          type: "GET",
          dataType: "json",
          url: "/ota/status",
          success: onGetStatusSuccess,
          error: onGetStatusError
        });
      }

      function verifyOTA() {
        $.ajax({
          type: "GET",
          dataType: "text",
          url: "/ota/verify",
          success: onVerifyOTASuccess,
          error: onVerifyOTAError
        });
      }

      function restartSystem() {
        $.ajax({
          type: "GET",
          dataType: "text",
          url: "/ota/restart",
          success: onRestartSystemSuccess,
          error: onRestartSystemError
        });
      }
      
      function onSetPayloadLengthSuccess(data, textStatus, jqXHR) {
        console.log("Successfully set payload size");
        uploadFirmware();
      }
      
      function onSetPayloadLengthError(jqXHR, textStatus, errorThrown) {
        console.log("Error setting payload length!");
        console.log(textStatus);
        console.log(errorThrown);
      }

      function onGetStatusSuccess(data, textStatus, jqXHR) {
        if (!data['success']) {
          // Success = 0 means the ESP32 has rebooted
          console.log("ESP32 ready, reloading");
          location.reload();
        } else {
          // Not yet rebooted, wait a little longer and retry
          console.log("ESP32 not yet ready, waiting");
          setTimeout(getStatus, 2000);
        }
      }
      
      function onGetStatusError(jqXHR, textStatus, errorThrown) {
        console.log("Error querying status!");
        console.log(errorThrown);
        // Probably caught a bad moment to query, wait a little longer and retry
        console.log("ESP32 not yet ready, waiting");
        setTimeout(getStatus, 2000);
      }

      function onGetDeviceInfoSuccess(data, textStatus, jqXHR) {
        document.title += " - " + data['hostname'];
        $("#hostname").html(data['hostname']);
        $("#fw-version").html(data['git_version']);
        $("#compile-datetime").html(data['compile_date'] + " " + data['compile_time']);
        $("#log-level").html(data['log_level']);
        $("#ip-sta").html(data['ip']['wifi_sta']);
        $("#ip-ap").html(data['ip']['wifi_ap']);
        $("#ip-eth").html(data['ip']['eth']);
        $("#mac-sta").html(data['mac']['wifi_sta']);
        $("#mac-ap").html(data['mac']['wifi_ap']);
        $("#mac-bt").html(data['mac']['bt']);
        $("#mac-eth").html(data['mac']['eth']);
        if(data['app_verified']) {
          $("#btn-verify").hide();
          $("#verify-status").hide();
        }
      }

      function onGetDeviceInfoError(jqXHR, textStatus, errorThrown) {
        $("#fw-version").html("Failed to load device info");
      }

      function onVerifyOTASuccess(data, textStatus, jqXHR) {
        $("#verify-status").html("OTA partition verified!");
        setTimeout(function() {
          $("#btn-verify").hide();
          $("#verify-status").hide();
        }, 3000);
      }

      function onVerifyOTAError(jqXHR, textStatus, errorThrown) {
        $("#verify-status").html("Failed to verify OTA partition");
      }

      function onRestartSystemSuccess(data, textStatus, jqXHR) {
        $("#wait-restart").show();
        setTimeout(window.location.reload.bind(window.location), 3000);
      }

      function onRestartSystemError(jqXHR, textStatus, errorThrown) {
        $("#restart-status").html("Failed to restart system!");
      }

      function onReady() {
        $("#file-firmware").change(onFileSelected);
        $("#btn-submit").click(startUpdate);
        $("#btn-verify").click(verifyOTA);
        $("#btn-restart").click(restartSystem);
        getDeviceInfo(onGetDeviceInfoSuccess, onGetDeviceInfoError);
      }

      $(document).ready(onReady);
    </script>
  </body>
</html>
