menu "tpm2.net Receiver"

config TPM2NET_PORT
    int "UDP Port to listen on for tpm2.net messages"
    default 65506

config TPM2NET_RX_BUF_SIZE
    int "Rx buffer size in bytes"
    default 2048

choice TPM2NET_FRAME_TYPE
    bool "tpm2.net frame type"
    default TPM2NET_FRAME_TYPE_24BPP
    
    config TPM2NET_FRAME_TYPE_1BPP
        bool "1 bit per pixel (black/white)"
    
    config TPM2NET_FRAME_TYPE_8BPP
        bool "8 bits per pixel (greyscale)"
    
    config TPM2NET_FRAME_TYPE_24BPP
        bool "24 bits per pixel (RGB, 8 bits per colour)"
endchoice

endmenu