<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Canvas</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/simple.css">
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/util.js"></script>
  </head>

  <body>
    <h2 id="hostname">&nbsp;</h2>
    <div id="canvas-container" style="display: none;">
      <canvas id="pixel-canvas">
        If you can see this, it means that either your browser doesn't support HTML5 Canvas or you have JavaScript disabled.
        Try enabling JavaScript and reload the page.
      </canvas>
      <div>
        <label for="fg-color"><input type="color" id="fg-color" name="fg-color" value="#ffffff" /> Left Click</label><br />
        <label for="bg-color"><input type="color" id="bg-color" name="bg-color" value="#ffffff" /> Right Click</label>
      </div>
    </div>
    <div id="text-container" style="display: none;">
      <label for="text-input">Text</label>
      <textarea id="text-input" name="text" style="font-family: monospace; font-size: 3em; overflow: hidden;"></textarea>
    </div>
    <div id="selection-container" style="display: none;"></div>
    <div id="brightness-container" style="display: none;">
      <label for="brightness-input">Brightness</label>
      <input type="range" id="brightness-input" name="brightness" min="0" max="255" value="255" />
    </div>
    <div id="shader-container" style="display: none;">
      <label for="shader-select">Shader</label>
      <select id="shader-select" name="shader-select"></select>
      <table id="shader-params">
        <tbody></tbody>
      </table>
    </div>

    <script type="text/javascript">
      var _CANVASDEBUG = false;
      var _CANVASDEBUGINFO = {
        "type":	"selection",
        "driver":	"sel_krone_9000",
        "width":	null,
        "height":	null,
        "frame_width":	null,
        "frame_height":	null,
        "viewport_offset_x":	null,
        "viewport_offset_y":	null,
        "framebuf_size":	256,
        "frame_type":	"unit",
        "charbuf_size":	null,
        "brightness_control":	false,
        "config":	{
          "units":	[
            {
              "name": "destination",
              "type":	"text",
              "flags": ["upper"],
              "addr":	1,
              "x":	2,
              "y":	4,
              "width":	2,
              "height":	2,
              "len":	8,
              "map":	"alnum"
            },
            {
              "name": "train_type",
              "type":	"map",
              "addr":	13,
              "x":	2,
              "y":	0,
              "width":	6,
              "height":	2,
              "len":	1,
              "map":	"trainType"
            },
            {
              "name": "train_number",
              "type":	"text",
              "flags": ["upper"],
              "addr":	100,
              "x":	8,
              "y":	0,
              "width":	2,
              "height":	2,
              "len":	5,
              "map":	"alnum"
            },
            {
              "name": "via",
              "type":	"map",
              "addr":	27,
              "x":	0,
              "y":	2,
              "width":	20,
              "height":	2,
              "len":	1,
              "map":	"via"
            }
          ],
          "maps":	{
            "alnum":	{
              "0":	null,
              "1":	"A",
              "2":  "B"
            },
            "trainType":	{
              "0":	null,
              "1":	"ICE",
              "2":	"RB",
              "3":	"RE",
              "4":	null,
              "25":	"VIA"
            },
            "via":	{
              "0":	null,
              "1":	"Berlin - München",
              "2":	"Frankfurt - Offenbach",
              "3":	"Hagen",
              "4":	"Sonderfahrt!",
              "25":	"Bremen Hbf"
            }
          }
        },
        "quirks":	[]
      };
      
      var display_info = {};
      var shader_list = [];
      var selectedShaderId = 0;
      var pixelWidth = 20;
      var pixelHeight = 20;
      var baseColor = "#000000";
      var bgColor = "#000000";
      var gridColor = "#444444";
      var fgColor = "#ffffff";
      var gridLineWidth = 2;
      var pixels = new Array(0);
      var buttonPressed = false;
      var updateInProgress = false;
      

      let Pixel = function(x, y, width, height, spacing, color) {
        let canvas = $("#pixel-canvas")[0];

        this.getGridAlignedPos = function(num, size) {
          return num - (num % size);
        };

        this.x = this.getGridAlignedPos(x, width + spacing);
        this.y = this.getGridAlignedPos(y, height + spacing);
        this.buf_x = this.x / (width + spacing);
        this.buf_y = this.y / (height + spacing);
        this.width = width;
        this.height = height;
        this.fillColor = color;
      };

      Pixel.prototype.draw = function() {
        let canvas = $("#pixel-canvas")[0];
        let ctx = canvas.getContext("2d");
        ctx.fillStyle = this.fillColor;
        ctx.strokeStyle = gridColor;
        ctx.fillRect(this.x, this.y, this.width, this.height);
      };

      Pixel.prototype.getIndex = function() {
        return this.buf_x * display_info["height"] + this.buf_y;
      }

      function drawLine(ctx, x1, y1, x2, y2) {
        ctx.beginPath();
        ctx.moveTo(x1, y1);
        ctx.lineTo(x2, y2);
        ctx.stroke();
        ctx.restore();
      }

      function drawPixelCanvas() {
        let canvas = $("#pixel-canvas")[0];
        canvas.width = (pixelWidth * display_info["width"]) + (gridLineWidth * (display_info["width"] - 1));
        canvas.height = (pixelHeight * display_info["height"]) + (gridLineWidth * (display_info["height"] - 1));
        let ctx = canvas.getContext("2d");
        ctx.fillStyle = baseColor;
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        ctx.strokeStyle = gridColor;
        ctx.lineWidth = gridLineWidth;
        
        for (let i = pixelWidth + (gridLineWidth / 2); i < canvas.width; i += (pixelWidth + gridLineWidth)) {
            drawLine(ctx, i, 0, i, canvas.height);
        }

        for (let i = pixelHeight + (gridLineWidth / 2); i < canvas.height; i += (pixelHeight + gridLineWidth)) {
            drawLine(ctx, 0, i, canvas.width, i);
        }
        $("#canvas-container").show();
      }

      function drawTextInput() {
        $("#text-input").prop('cols', display_info["width"]);
        $("#text-input").prop('rows', display_info["height"]);
        $("#text-container").show();
      }

      function drawSelectionInput() {
        function getUnitByCoordinates(x, y) {
          let units = display_info["config"]["units"];
          for (const unit of units) {
            if ((x >= unit["x"] && x < (unit["x"] + (unit["width"] * unit["len"]))) && (y >= unit["y"] && y < (unit["y"] + unit["height"]))) {
              return unit;
            }
          }
          return null;
        }

        $("#selection-container").show();
        let config = display_info["config"];

        // Calculate the extent of the display
        let disp_width = 0;
        let disp_height = 0;
        for (var i = 0; i < config["units"].length; i++) {
          let unit = config["units"][i];
          unit["index"] = i;
          let unit_max_x = unit["x"] + (unit["width"] * unit["len"]);
          let unit_max_y = unit["y"] + unit["height"];
          if (unit_max_x > disp_width) disp_width = unit_max_x;
          if (unit_max_y > disp_height) disp_height = unit_max_y;
        }

        // Create the grid
        let table = $("<table>");
        table.css("table-layout", "fixed");
        
        // Add an invisible first row so we can use colspan
        let row = $("<tr>");
        row.css("background-color", "inherit");
        for (var x = 0; x < (disp_width + 1); x++) {
          let col = $("<td>");
          col.css("overflow", "hidden");
          col.css("padding", 0);
          col.css("border", "none");
          let div = $("<div>");
          div.css("width", "2rem");
          div.css("height", "2rem");
          col.append(div);
          row.append(col);
        }
        table.append(row);

        for (var y = 0; y < disp_height; y++) {
          let row = $("<tr>");
          row.css("background-color", "inherit");

          // Add an invisible first column so we can use rowspan
          let col = $("<td>");
          col.css("overflow", "hidden");
          col.css("padding", 0);
          col.css("border", "none");
          let div = $("<div>");
          div.css("width", "2rem");
          div.css("height", "2rem");
          col.append(div);
          row.append(col);

          for (var x = 0; x < disp_width; x++) {
            let unit = getUnitByCoordinates(x, y);
            if (unit == null) {
              let col = $("<td>");
              col.css("overflow", "hidden");
              col.css("padding", 0);
              col.css("border", "none");
              let div = $("<div>");
              div.css("width", "2rem");
              div.css("height", "2rem");
              col.append(div);
              row.append(col);
            } else {
              if (!("drawn" in unit) || unit["drawn"] == false) {
                let col = $("<td>");
                col.css("overflow", "hidden");
                col.css("padding", "0.5rem");
                col.css("border", "1px solid inherit");
                col.css("background-color", "#ddd");
                col.attr("colspan", (unit["width"] * unit["len"]));
                col.attr("rowspan", unit["height"]);
                let div = $("<div>");
                div.css("width", "100%");
                div.css("height", "100%");

                // This is where the input element gets added
                let input;
                if (unit["type"] == "text") {
                  input = $("<input type=\"text\">");
                  input.on("input", onTextInputInput);
                } else if(unit["type"] == "map") {
                  input = $("<select>");
                  input.change(updateDisplay);
                  let map = config["maps"][unit["map"]];
                  for (const [key, value] of Object.entries(map)) {
                    let option = $("<option>");
                    option.attr("value", key);
                    option.html(value);
                    input.append(option);
                  }
                }
                input.attr("data-is-unit", "true");
                input.attr("data-unit-index", unit["index"]);
                input.css("margin", 0);
                input.css("width", "100%");
                div.append(input);

                col.append(div);
                row.append(col);
                unit["drawn"] = true;
              }
            }
          }
          table.append(row);
        }
        $("#selection-container").append(table);
      }

      function drawBrightnessControl() {
        $("#brightness-container").show();
      }

      function drawShaderControl() {
        shader_list.forEach(function(shader, i) {
          $('#shader-select').append($('<option>', {
              value: i,
              text: shader["name"]
          }));
        });

        drawShaderParameters();
        $("#shader-select").change(onShaderSelectChange);
        $("#shader-container").show();
      }

      function drawShaderParameters() {
        var selectedShader = shader_list[selectedShaderId];
        var params = selectedShader["params"];
        $("#shader-params").find("tbody").empty();
        if(!params) return;

        for (var paramName of Object.keys(params)) {
          var paramData = params[paramName];

          var field_element = $('<input type="' + paramData["type"] + '">');
          field_element.prop("name", paramName);
          field_element.prop("id", "shader-param-" + paramName);
          for (var propName of Object.keys(paramData)) {
            if (propName == "type") continue;
            field_element.prop(propName, paramData[propName]);
          }
          field_element.change(updateShader);

          var td_name = $("<td>" + paramName + "</td>");
          var td_field = $("<td>").append(field_element);

          switch (paramData["type"]) {
            case "range": {
              var value_display = $('<span>');
              value_display.prop("id", "shader-param-display-" + paramName);
              value_display.text(field_element.val());
              field_element.change(function(event) {
                $("#shader-param-display-" + $(event.target).prop("name")).text($(event.target).val());
              });
              td_field.append(value_display);
              break;
            }

            case "color": {
              field_element.val("#ffffff");
            }
          }

          var tr = $("<tr>").append(td_name).append(td_field);
          $("#shader-params").find("tbody").append(tr);
        }
      }

      function drawPixel(x, y, color) {
        let canvas = $("#pixel-canvas")[0];
        let margin = canvas.getBoundingClientRect();

        x -= margin.left;
        y -= margin.top;

        let newPixel = new Pixel(x, y, pixelWidth, pixelHeight, gridLineWidth, color);
        newPixel.draw();
        let i = newPixel.getIndex();
        pixels[i] = color;
      }

      function onCanvasMouseDown(event) {
        event.preventDefault();
        if(event.button == 0) drawPixel(event.clientX, event.clientY, fgColor);
        if(event.button == 2) drawPixel(event.clientX, event.clientY, bgColor);
        buttonPressed = true;
        updateDisplay();
      }

      function onCanvasMouseRightClick(event) {
        event.preventDefault();
      }

      function onCanvasMouseMove(event) {
        event.preventDefault();
        if((event.buttons == 1 || event.buttons == 2) && !buttonPressed) {
          // Mouse has entered the canvas with button pressed
          buttonPressed = true;
          updateDisplay();
        }
        if(event.buttons == 1){
          drawPixel(event.clientX, event.clientY, fgColor);
        } else if(event.buttons == 2) {
          drawPixel(event.clientX, event.clientY, bgColor);
        }
      }

      function onCanvasMouseUp(event) {
        buttonPressed = false;
        updateDisplay();
      }

      function onCanvasMouseOut(event) {
        if(buttonPressed) updateDisplay();
        buttonPressed = false;
      }

      function onTextInputInput(event) {
        event.preventDefault();
        updateDisplay();
      }

      function onBrightnessChange(event) {
        updateBrightness();
      }

      function hexToRGB(hex) {
        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        return result ? {
          r: parseInt(result[1], 16),
          g: parseInt(result[2], 16),
          b: parseInt(result[3], 16)
        } : null;
      }
      
      function componentToHex(c) {
        let hex = c.toString(16);
        return hex.length == 1 ? "0" + hex : hex;
      }
      
      function rgbToHex(r, g, b) {
        return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
      }
      
      function limitColorRange(color) {
        switch(display_info["frame_type"]) {
          case "1bpp": {
            let lum = calculateLuminosity(color);
            return lum > 127 ? "#ffffff" : "#000000";
          }

          case "8bpp": {
            let lum = calculateLuminosity(color);
            return rgbToHex(lum, lum, lum);
          }
          
          default:
          case "24bpp": {
            return color;
          }
        }
      }

      function calculateLuminosity(color) {
        let rgb = hexToRGB(color);
        let lum = Math.round(rgb["r"] * 0.2126 + rgb["g"] * 0.7152 + rgb["b"] * 0.0722);
        return lum > 255 ? 255 : lum;
      }

      function getShaders() {
        $.ajax({
          type: "GET",
          dataType: "json",
          url: "/canvas/shaders.json",
          success: onGetShadersSuccess,
          error: onGetShadersError
        });
      }

      function getFramebufferFromDisplay() {
        $.ajax({
          type: "GET",
          dataType: "json",
          url: "/canvas/buffer.json",
          success: onGetFramebufferFromDisplaySuccess,
          error: onGetFramebufferFromDisplayError
        });
      }

      function getBrightnessFromDisplay() {
        $.ajax({
          type: "GET",
          dataType: "json",
          url: "/canvas/brightness.json",
          success: onGetBrightnessFromDisplaySuccess,
          error: onGetBrightnessFromDisplayError
        });
      }

      function getShaderFromDisplay() {
        $.ajax({
          type: "GET",
          dataType: "json",
          url: "/canvas/shader.json",
          success: onGetShaderFromDisplaySuccess,
          error: onGetShaderFromDisplayError
        });
      }

      function getShaderData() {
        var data = {
          shader: parseInt($("#shader-select").val()),
          params: {}
        };

        var inputs = $("#shader-params input");
        for (var i = 0; i < inputs.length; i++) {
          var field_name = $(inputs[i]).prop("name");
          var field_type = $(inputs[i]).prop("type");
          if (["range", "number"].includes(field_type)) {
            // Numerical field
            var field_value = parseInt($(inputs[i]).val());
          } else if (field_type == "color") {
            var field_value = hexToRGB($(inputs[i]).val());
          } else {
            var field_value = $(inputs[i]).val();
          }
          data["params"][field_name] = field_value;
        }
        return data;
      }

      function setShaderData(data) {
        $("#shader-select").val(data["shader"]);
        $("#shader-select").trigger("change");
        let shader_info = shader_list[data["shader"]];

        for (var paramName of Object.keys(data["params"])) {
          let paramInfo = shader_info["params"][paramName];
          let paramCtrl = $("#shader-param-" + paramName);

          if (paramInfo["type"] == "color") {
            paramCtrl.val(rgbToHex(data["params"][paramName]["r"], data["params"][paramName]["g"], data["params"][paramName]["b"]));
          } else {
            paramCtrl.val(data["params"][paramName]);
          }
          paramCtrl.trigger("change");
        }
      }

      function getActualCharCount(str) {
        let count = 0;
        if (display_info["quirks"].includes("combining_full_stop")) {
          for (var i = 0; i < str.length; i++) {
            if (i == 0) {
              count++; // Always count first character
            } else {
              if (str[i] == ".") {
                if (str[i-1] == ".") count++; // Only count full stop if preceded by another full stop
              } else {
                count++; // Always count non full stop characters
              }
            }
          }
        } else {
          count = str.length;
        }
        return count;
      }

      function getFramebuffer() {
        function swap(obj){
          // Swap keys and values in object
          var ret = {};
          for(var key in obj){
            ret[obj[key]] = key;
          }
          return ret;
        }
        
        if (display_info["type"] == "pixel") {
          switch(display_info["frame_type"]) {
            case "1bpp": {
              let framebuf = new Array(display_info["framebuf_size"]);
              let fb_idx = 0;
              let pixel_idx = 0;
              for (let x = 0; x < display_info["frame_width"]; x++) {
                let byte = 0x00;
                for (let y = 0; y < display_info["frame_height"]; y++) {
                  let bit = y % 8;
                  if (!((x < display_info["viewport_offset_x"]) || (y < display_info["viewport_offset_y"]) || (x >= (display_info["width"] + display_info["viewport_offset_x"])) || (y >= (display_info["height"] + display_info["viewport_offset_y"])))) {
                    if (calculateLuminosity(pixels[pixel_idx]) > 127) byte |= (1 << bit);
                    pixel_idx++;
                  }
                  if ((bit == 7) || (y == display_info["frame_height"] - 1)) {
                    framebuf[fb_idx++] = byte;
                    byte = 0x00;
                  }
                }
              }
              return framebuf;
            }

            case "8bpp": {
              let framebuf = new Array(display_info["framebuf_size"]);
              let fb_idx = 0;
              let pixel_idx = 0;
              for (let x = 0; x < display_info["frame_width"]; x++) {
                for (let y = 0; y < display_info["frame_height"]; y++) {
                  if ((x < display_info["viewport_offset_x"]) || (y < display_info["viewport_offset_y"]) || (x >= (display_info["width"] + display_info["viewport_offset_x"])) || (y >= (display_info["height"] + display_info["viewport_offset_y"]))) {
                    framebuf[fb_idx++] = 0;
                  } else {
                    framebuf[fb_idx++] = calculateLuminosity(pixels[pixel_idx]);
                    pixel_idx++;
                  }
                }
              }
              return framebuf;
            }

            case "24bpp": {
              let framebuf = new Array(display_info["framebuf_size"]);
              let fb_idx = 0;
              let pixel_idx = 0;
              for (let x = 0; x < display_info["frame_width"]; x++) {
                for (let y = 0; y < display_info["frame_height"]; y++) {
                  if ((x < display_info["viewport_offset_x"]) || (y < display_info["viewport_offset_y"]) || (x >= (display_info["width"] + display_info["viewport_offset_x"])) || (y >= (display_info["height"] + display_info["viewport_offset_y"]))) {
                    framebuf[fb_idx++] = 0;
                    framebuf[fb_idx++] = 0;
                    framebuf[fb_idx++] = 0;
                  } else {
                    color = hexToRGB(pixels[pixel_idx]);
                    framebuf[fb_idx++] = color["r"];
                    framebuf[fb_idx++] = color["g"];
                    framebuf[fb_idx++] = color["b"];
                    pixel_idx++;
                  }
                }
              }
              return framebuf;
            }
          }
        } else if (display_info["type"] == "character") {
          let framebuf = new Array(display_info["charbuf_size"]);
          let val = "";
          $("#text-input").val().split("\n").forEach(function(e) {
            var actualLen = getActualCharCount(e);
            var excess =  actualLen - display_info["width"];
            if (excess < 0) {
              // Need to pad
              val += e.padEnd(e.length - excess, " ");
            } else {
              // Need to cut off
              var cutoffPos = e.length - excess;
              val += e.substring(0, cutoffPos);
            }
          });
          let valLen = val.length;
          for (let i = 0; i < display_info["charbuf_size"]; i++) {
            if (i >= valLen) {
              framebuf[i] = 0;
            } else {
              let code = val.charCodeAt(i);
              framebuf[i] = code > 255 ? 0 : code;
            }
          }
          return framebuf;
        } else if (display_info["type"] == "selection") {
          let framebuf = new Array(display_info["framebuf_size"]);
          let inputs = $("[data-is-unit=true]");
          for (const input of inputs) {
            let unit_index = parseInt($(input).attr("data-unit-index"));
            let unit = display_info["config"]["units"][unit_index];
            let value = $(input).val();
            if (unit["type"] == "text") {
              // Convert text to positions using mapping
              if (unit["flags"].includes("upper")) value = value.toUpperCase();
              if (unit["flags"].includes("lower")) value = value.toLowerCase();

              let map = swap(display_info["config"]["maps"][unit["map"]]);
              for (var i = 0; i < unit["len"]; i++) {
                framebuf[unit["addr"] + i] = parseInt(map[value[i]]) || 0;
              }
            } else if(unit["type"] == "map") {
              // Already mapped
              framebuf[unit["addr"]] = parseInt(value) || 0;
            }
          }
          return framebuf;
        }
      }

      function updateDisplay() {
        let fb = getFramebuffer();
        let buffer_b64 = btoa(String.fromCharCode.apply(null, fb));
        if (_CANVASDEBUG) {
          console.log(fb);
          console.log(buffer_b64);
          setTimeout(onUpdateDisplaySuccess, 250);
        } else {
          if(updateInProgress) return;
          updateInProgress = true;
          $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/canvas/buffer.json",
            data: JSON.stringify({"buffer": buffer_b64}),
            success: onUpdateDisplaySuccess,
            error: onUpdateDisplayError
          });
        }
      }

      function updateBrightness() {
        let brightness = parseInt($("#brightness-input").val());
        if (_CANVASDEBUG) {
          console.log("Setting brightness to " + brightness);
        } else {
          $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/canvas/brightness.json",
            data: JSON.stringify({"brightness": brightness}),
            success: onSetBrightnessSuccess,
            error: onSetBrightnessError
          });
        }
      }

      function updateShader() {
        var payload = getShaderData();

        if (_CANVASDEBUG) {
          console.log("Shader data:");
          console.log(payload);
        } else {
          $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/canvas/shader.json",
            data: JSON.stringify(payload),
            success: onSetShaderSuccess,
            error: onSetShaderError
          });
        }
      }

      function getDisplayInfo() {
        if (_CANVASDEBUG) {
          onGetDisplayInfoSuccess(_CANVASDEBUGINFO);
        } else {
          $.ajax({
            type: "GET",
            dataType: "json",
            url: "/info/display.json",
            success: onGetDisplayInfoSuccess,
            error: onGetDisplayInfoError
          });
        }
      }

      function onGetDisplayInfoSuccess(data, textStatus, jqXHR) {
        display_info = data;
        if(display_info["type"] == "pixel") {
          pixels = new Array(data["width"] * data["height"]);
          pixels.fill(bgColor);
          drawPixelCanvas();
          $("#pixel-canvas").contextmenu(onCanvasMouseRightClick);
          $("#pixel-canvas").mousedown(onCanvasMouseDown);
          $("#pixel-canvas").mousemove(onCanvasMouseMove);
          $("#pixel-canvas").mouseup(onCanvasMouseUp);
          $("#pixel-canvas").mouseout(onCanvasMouseOut);
        } else if(display_info["type"] == "character") {
          drawTextInput();
          $("#text-input").on("input", onTextInputInput);
        } else if(display_info["type"] == "selection") {
          drawSelectionInput();
        } else {
          console.log("ERROR: Unsupported display type \"" + display_info["type"] + "\"");
          return;
        }
        
        getFramebufferFromDisplay();

        if(display_info["brightness_control"]) {
          getBrightnessFromDisplay();
          drawBrightnessControl();
          $("#brightness-input").change(onBrightnessChange);
        }
      }

      function onGetDisplayInfoError(jqXHR, textStatus, errorThrown) {
        console.log("Error querying display info!");
        console.log(errorThrown);
        $("body").html("<div style='color: #ff3333; font-weight: bold; font-size: 3vw;'>Error communicating with display!</div>");
      }

      function onUpdateDisplaySuccess(data, textStatus, jqXHR) {
        updateInProgress = false;
        if(buttonPressed) updateDisplay();
      }

      function onUpdateDisplayError(jqXHR, textStatus, errorThrown) {
        console.log("Error updating display!");
        console.log(errorThrown);
      }

      function onSetBrightnessSuccess(data, textStatus, jqXHR) {
        
      }

      function onSetBrightnessError(jqXHR, textStatus, errorThrown) {
        console.log("Error setting brightness!");
        console.log(errorThrown);
      }

      function onSetShaderSuccess(data, textStatus, jqXHR) {
        
      }

      function onSetShaderError(jqXHR, textStatus, errorThrown) {
        console.log("Error setting shader!");
        console.log(errorThrown);
      }
      
      function onGetDeviceInfoSuccess(data, textStatus, jqXHR) {
        document.title += " - " + data['hostname'];
        $("#hostname").html(data['hostname']);
      }

      function onGetDeviceInfoError(jqXHR, textStatus, errorThrown) {
        
      }

      function onGetShadersSuccess(data, textStatus, jqXHR) {
        if(!("shaders" in data)) return;
        shader_list = data["shaders"];
        drawShaderControl();
        getShaderFromDisplay();
      }

      function onGetShadersError(jqXHR, textStatus, errorThrown) {
        console.log("Error getting shaders!");
        console.log(errorThrown);
      }

      function onGetFramebufferFromDisplaySuccess(data, textStatus, jqXHR) {
        // TODO: Make this work for pixel displays
        if (display_info["type"] == "pixel") {
          switch(display_info["frame_type"]) {
            case "1bpp": {
              break;
            }

            case "8bpp": {
              break;
            }

            case "24bpp": {
              break;
            }
          }
        } else if (display_info["type"] == "character") {
          let text = atob(data["buffer"]).replaceAll(/[ \x00]*$/g, "");
          $("#text-input").val(text);
        } else if (display_info["type"] == "selection") {
          let moduleData = Uint8Array.from(atob(data["buffer"]), c => c.charCodeAt(0));
          for (var i = 0; i < display_info["config"]["units"].length; i++) {
            let unit = display_info["config"]["units"][i];
            let input = $("[data-unit-index=" + i + "]");
            if (unit["type"] == "map") {
              input.val(moduleData[unit["addr"]]);
            } else if (unit["type"] == "text") {
              let text = "";
              let map = display_info["config"]["maps"][unit["map"]];
              for (var j = 0; j < unit["len"]; j++) {
                let code = moduleData[unit["addr"]+j];
                if (code in map) {
                  text += map[code];
                } else {
                  text += " ";
                }
              }
              input.val(text.trim());
            }
          }
        }
      }

      function onGetFramebufferFromDisplayError(jqXHR, textStatus, errorThrown) {
        console.log("Error getting framebuffer from display!");
        console.log(errorThrown);
      }

      function onGetBrightnessFromDisplaySuccess(data, textStatus, jqXHR) {
        $("#brightness-input").val(data["brightness"]);
      }

      function onGetBrightnessFromDisplayError(jqXHR, textStatus, errorThrown) {
        console.log("Error getting brightness from display!");
        console.log(errorThrown);
      }

      function onGetShaderFromDisplaySuccess(data, textStatus, jqXHR) {
        if ($.isEmptyObject(data)) return;
        setShaderData(data);
      }

      function onGetShaderFromDisplayError(jqXHR, textStatus, errorThrown) {
        console.log("Error getting shader from display!");
        console.log(errorThrown);
      }
      
      function onForegroundColorChange(event) {
        fgColor = limitColorRange($("#fg-color").val());
        $("#fg-color").val(fgColor);
        localStorage.setItem("fgColor", fgColor);
      }
      
      function onBackgroundColorChange(event) {
        bgColor = limitColorRange($("#bg-color").val());
        $("#bg-color").val(bgColor);
        localStorage.setItem("bgColor", bgColor);
      }

      function onShaderSelectChange(event) {
        selectedShaderId = parseInt($("#shader-select").val());
        drawShaderParameters();
        updateShader();
      }

      function onReady() {
        getDeviceInfo(onGetDeviceInfoSuccess, onGetDeviceInfoError);
        getDisplayInfo();
        getShaders();
        fgColor = limitColorRange(localStorage.getItem("fgColor") || fgColor);
        bgColor = limitColorRange(localStorage.getItem("bgColor") || bgColor);
        $("#fg-color").val(fgColor);
        $("#bg-color").val(bgColor);
        $("#fg-color").change(onForegroundColorChange);
        $("#bg-color").change(onBackgroundColorChange);
      }

      $(document).ready(onReady);
    </script>
  </body>
</html>
