menu "Project Configuration"

config PROJ_HOSTNAME
    string "Device Hostname"
    default "esp32"
    help
        This sets the network hostname used by the device.

config PROJ_STA_MAX_RECONNECTS
    int "STA WiFi Max. Reconnects"
    default 5
    help
        How often to try to reconnect to the STA WiFi.

config PROJ_AP_SSID
    string "AP WiFi SSID"
    default ""
    help
        SSID (network name) to create when STA connection fails.

config PROJ_AP_PASS
    string "AP WiFi password"
    default ""
    help
        WiFi password (WPA or WPA2) to use.

        Can be left blank if the network has no security set.

endmenu


menu "W5500 Ethernet Configuration"

config ETHERNET_ENABLED
    bool "Use W5500 Ethernet"
    default false
    help
        Enable W5500 for Ethernet use

config ETHERNET_MISO_IO
    depends on ETHERNET_ENABLED
    int "MISO GPIO"
    default 0
    help
        GPIO pin for W5500 MISO

config ETHERNET_MOSI_IO
    depends on ETHERNET_ENABLED
    int "MOSI GPIO"
    default 0
    help
        GPIO pin for W5500 MOSI

config ETHERNET_SCLK_IO
    depends on ETHERNET_ENABLED
    int "SCLK GPIO"
    default 0
    help
        GPIO pin for W5500 SCLK

config ETHERNET_CS_IO
    depends on ETHERNET_ENABLED
    int "CS GPIO"
    default 0
    help
        GPIO pin for W5500 CS

config ETHERNET_INT_IO
    depends on ETHERNET_ENABLED
    int "INT GPIO"
    default 0
    help
        GPIO pin for W5500 INT

config ETHERNET_RST_IO
    depends on ETHERNET_ENABLED
    int "RST GPIO"
    default 0
    help
        GPIO pin for W5500 RST

config ETHERNET_PHY_ADDR
    depends on ETHERNET_ENABLED
    int "PHY address"
    default 0
    help
        PHY address for W5500

config ETHERNET_SPI_CLK_FREQ
    depends on ETHERNET_ENABLED
    int "SPI Clock Frequency (Hz)"
    default 1000000
    help
        Frequency for SPI clock (in Hz)

choice ETHERNET_SPI_HOST
    depends on ETHERNET_ENABLED
    bool "SPI Host"
    default ETHERNET_SPI_HOST_VSPI

    config ETHERNET_SPI_HOST_VSPI
        bool "VSPI"
    
    config ETHERNET_SPI_HOST_HSPI
        bool "HSPI"
endchoice

endmenu


menu "Display Configuration"

choice DISPLAY_TYPE
    bool "Display type"
    default DISPLAY_TYPE_PIXEL

    config DISPLAY_TYPE_PIXEL
        bool "Pixel-based display"
    
    config DISPLAY_TYPE_CHARACTER
        bool "Character-based display"
endchoice

choice DISPLAY_DRIVER
    bool "Display driver"
    default DISPLAY_DRIVER_NONE

    config DISPLAY_DRIVER_NONE
        bool "None"

    config DISPLAY_DRIVER_FLIPDOT_LAWO_ALUMA
        depends on DISPLAY_TYPE_PIXEL
        bool "LAWO ALUMA flipdot (XY10 panels)"

    config DISPLAY_DRIVER_FLIPDOT_BROSE
        depends on DISPLAY_TYPE_PIXEL
        bool "BROSE flipdot"

    config DISPLAY_DRIVER_LED_SHIFT_REGISTER
        depends on DISPLAY_TYPE_PIXEL
        bool "Generic shift-register based LED display"

    config DISPLAY_DRIVER_LED_SHIFT_REGISTER_I2S
        depends on DISPLAY_TYPE_PIXEL
        bool "Generic shift-register based LED display (using I2S peripheral)"

    config DISPLAY_DRIVER_LED_AESYS_I2S
        depends on DISPLAY_TYPE_PIXEL
        bool "aesys LED display (using I2S peripheral)"
        
    config DISPLAY_DRIVER_CHAR_SEG_LCD_SPI
        depends on DISPLAY_TYPE_CHARACTER
        bool "Character-based segmented LCD (using SPI peripheral)"
        
    config DISPLAY_DRIVER_CHAR_16SEG_LED_SPI
        depends on DISPLAY_TYPE_CHARACTER
        bool "16-segment LED (using SPI peripheral)"
endchoice

config DISPLAY_WIDTH
    int "Actual display width"
    default 0
    help
        Actual width of the display, as seen from the outside, in pixels or characters.

config DISPLAY_HEIGHT
    int "Actual display height"
    default 0
    help
        Actual height of the display, as seen from the outside, in pixels or characters.

choice DISPLAY_FRAME_TYPE
    depends on DISPLAY_TYPE_PIXEL
    bool "Display frame type"
    default DISPLAY_FRAME_TYPE_1BPP

    config DISPLAY_FRAME_TYPE_1BPP
        bool "1 bit per pixel (black/white)"
    
    config DISPLAY_FRAME_TYPE_8BPP
        bool "8 bits per pixel (greyscale)"
    
    config DISPLAY_FRAME_TYPE_24BPP
        bool "24 bits per pixel (RGB, 8 bits per colour)"
endchoice

config DISPLAY_FRAME_WIDTH
    int "Display frame width"
    default 0
    help
        Frame width of the display. Usually the same as the actual width, but can be different
        in case of non-populated columns of pixels/characters or other mapping shenanigans.

config DISPLAY_FRAME_HEIGHT
    int "Display frame height"
    default 0
    help
        Frame height of the display. Usually the same as the actual height, but can be different
        in case of non-populated rows of pixels/characters or other mapping shenanigans.

config DISPLAY_VIEWPORT_OFFSET_X
    int "Display viewport X offset"
    default 0
    help
        In case the frame width is larger than the display width,
        this specifies the X offset between the viewport and the framebuffer.

config DISPLAY_VIEWPORT_OFFSET_Y
    int "Display viewport Y offset"
    default 0
    help
        In case the frame height is larger than the display height,
        this specifies the Y offset between the viewport and the framebuffer.

config DISPLAY_USE_PREV_FRAMEBUF
    bool "Use second framebuffer to store the previous frame"
    help
        This allows the display to take advantage of knowing what has changed between the current
        and previous frames, thus enabling a quicker refresh.

config DISPLAY_FONT_BYTES_PER_CHAR
    depends on DISPLAY_TYPE_CHARACTER
    int "Bytes per character (for font)"
    default 1
    help
        How many bytes of data the font contains per character.

config DISPLAY_FRAMEBUF_BITS_PER_CHAR
    depends on DISPLAY_TYPE_CHARACTER
    int "Bits per character (for framebuffer size)"
    default 8
    help
        How many bits of data are to be stored per character. Used for framebuffer size calculation.

config DISPLAY_HAS_BRIGHTNESS_CONTROL
    bool "Display has brightness control"
    default false
    help
        Enable brightness control

endmenu


menu "Fan Configuration"

config FAN_ENABLED
    bool "Use fan"
    default false
    help
        Enable fan control

config FAN_PWM_TIMER_NUM
    depends on FAN_ENABLED
    int "Fan PWM timer number"
    default 0
    help
        LEDC timer number for fan PWM (0 to 3)

config FAN_PWM_CHANNEL_NUM
    depends on FAN_ENABLED
    int "Fan PWM channel number"
    default 0
    help
        LEDC channel number for fan PWM (0 to 7)

config FAN_PWM_GPIO_NUM
    depends on FAN_ENABLED
    int "Fan PWM GPIO number"
    default 0
    help
        GPIO number for fan PWM

config FAN_PWM_FREQ
    depends on FAN_ENABLED
    int "Fan PWM frequency (Hz)"
    default 25000
    help
        PWM frequency for fan PWM

config FAN_SPEED_ADJUST_DELAY
    depends on FAN_ENABLED
    int "Fan speed adjust delay in ms"
    default 100
    help
        How many milliseconds between each fan speed adjustment step. There are 256 steps in total. Minimum is 10.

endmenu