menu "Character-based Segment LCD Configuration"

config CSEG_LCD_SPI_CLK_FREQ
    int "SPI Clock Frequency (Hz)"
    default 1000000
    help
        Frequency for SPI clock (in Hz)

config CSEG_LCD_DATA_IO
    int "Data GPIO"
    default 0
    help
        GPIO pin for shift register data

config CSEG_LCD_CLOCK_IO
    int "Clock GPIO"
    default 0
    help
        GPIO pin for shift register clock

config CSEG_LCD_LATCH_IO
    int "Latch GPIO"
    default 0
    help
        GPIO pin for shift register latch

config CSEG_LCD_FRCLK_IO
    int "Frame Clock GPIO"
    default 0
    help
        GPIO pin for LCD frame clock (AC signal)

config CSEG_LCD_FRCLK_FREQ
    int "Frame Clock Frequency (Hz)"
    default 0
    help
        Frequency for LCD frame clock (in Hz, AC signal)


config CSEG_LCD_LATCH_INV
    bool "Latch GPIO active-low"
    default false
    help
        Latch GPIO active-low or active-high


config CSEG_LCD_LATCH_PULSE_LENGTH
    int "Latch pulse length [µs]"
    default 1
    help
        Pulse length of the latch pulse, in microseconds


config CSEG_LCD_SEPARATE_OUTPUTS_PER_LINE
    bool "Use latch addressing"
    default false
    help
        Allow controlling multiple LCD buses by outputting a row address to select which row to latch

config CSEG_LCD_LATCH_A0_IO
    depends on CSEG_LCD_SEPARATE_OUTPUTS_PER_LINE
    int "Latch address A0 GPIO"
    default 0
    help
        GPIO pin for latch address bit A0

config CSEG_LCD_LATCH_A1_IO
    depends on CSEG_LCD_SEPARATE_OUTPUTS_PER_LINE
    int "Latch address A1 GPIO"
    default 0
    help
        GPIO pin for latch address bit A1

config CSEG_LCD_LATCH_A2_IO
    depends on CSEG_LCD_SEPARATE_OUTPUTS_PER_LINE
    int "Latch address A2 GPIO"
    default 0
    help
        GPIO pin for latch address bit A2


config CSEG_LCD_USE_ENABLE
    bool "Use enable"
    default false
    help
        Enable pin is present

config CSEG_LCD_EN_IO
    depends on CSEG_LCD_USE_ENABLE
    int "Enable GPIO"
    default 0
    help
        GPIO pin for shift register output enable

config CSEG_LCD_EN_INV
    depends on CSEG_LCD_USE_ENABLE
    bool "Enable GPIO active-low"
    default false
    help
        Output enable GPIO active-low or active-high


config CSEG_LCD_LATCH_INDICATOR_IO
    depends on DISPLAY_LINE_FLAGS_INDICATOR_LIGHT
    int "Indicator latch GPIO"
    default 0
    help
        GPIO pin for indicator latch

config CSEG_LCD_LATCH_INDICATOR_INV
    depends on DISPLAY_LINE_FLAGS_INDICATOR_LIGHT
    bool "Indicator latch GPIO active-low"
    default false
    help
        Indicator latch GPIO active-low or active-high

choice CSEG_LCD_FONT
    bool "LCD type / font"

    config CSEG_LCD_FONT_GV07
        bool "GV07"

    config CSEG_LCD_FONT_SAF_MOSAIC_20
        bool "SaF MOSAIC 20"
endchoice

choice CSEG_LCD_SPI_HOST
    bool "SPI Host"
    default CSEG_LCD_SPI_HOST_VSPI

    config CSEG_LCD_SPI_HOST_VSPI
        bool "VSPI"
    
    config CSEG_LCD_SPI_HOST_HSPI
        bool "HSPI"
endchoice

choice CSEG_LCD_SPI_MODE
    bool "SPI Mode"
    default CSEG_LCD_SPI_MODE_0

    config CSEG_LCD_SPI_MODE_0
        bool "Mode 0 (CPOL=0, CPHA=0)"

    config CSEG_LCD_SPI_MODE_1
        bool "Mode 1 (CPOL=0, CPHA=1)"

    config CSEG_LCD_SPI_MODE_2
        bool "Mode 2 (CPOL=1, CPHA=0)"

    config CSEG_LCD_SPI_MODE_3
        bool "Mode 3 (CPOL=1, CPHA=1)"
endchoice

endmenu